{% extends "base_site.html" %}

{% block title %} Boats Administration {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
          <h3>APA Racers</h3>
        </div>

      </div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2>All Registered Competitors</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
             <p class="text-muted font-13 m-b-30">
                All boats are displayed in the table below, the search function is dynamic. Click on the boat regisration to modify the boat.
              </p>
              <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Home Country</th>
                    <th>E-mail</th>
                    <th>Telephone</th>
                  </tr>
                </thead>


                <tbody>
                  {% for racer in racers %}
                  <tr>
                    <td align="center"><a href="{% url 'racers:view_user' racer.id %}">{{ racer.username.first_name }} {{ racer.username.last_name }}</a></td>
                    <td align="center"><i class="flag1x {{ racer.country.flag_css }}"></i>&nbsp;{{ racer.country.name }}</td>
                    <td align="center"><i class="flag1x {{ racer.address_country.flag_css }}"></i>&nbsp;{{ racer.address_country.name }}</td>
                    <td align="center"><a href="mailto:{{ racer.username.username }}?APA Contact">{{ racer.username.username }}</a></td>
                    <td align="center"><a href="tel:{{ racer.telephone_number }}t">{{ racer.telephone_number }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div> 
      </div>
    </div>
    <div class="page-title">
        <div class="title_left">
          <h4>Profile View</h4>
        </div>
    </div>
    {% for racer in racers %}
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2><i class="flag1x {{ racer.country.flag_css }}"></i>&nbsp;{{ racer.username.first_name }} {{ racer.username.last_name }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="thumbnail">
              <div class="image view view-first">
                <img style="width: 100%; display: block;" src="{{ racer.profile_image.url }}" alt="image" />    
              </div>
            </div>
            <table class="countries_list">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td class="fs15 fw700 text-right">{{ racer.username.first_name }} {{ racer.username.last_name }}</td>
                </tr>
                <tr>
                  <td>Nationality</td>
                  <td class="fs15 fw700 text-right"><i class="flag1x {{ racer.country.flag_css }}"></i> {{ racer.country.name }}</td>
                </tr>
                <tr>
                  <td>Home Country</td>
                  <td class="fs15 fw700 text-right"><i class="flag1x {{ racer.address_country.flag_css }}"></i> {{ racer.address_country.name }}</td>
                </tr>
                <tr>
                  <td>DoB (Age)</td>
                  <td class="fs15 fw700 text-right">{{ racer.date_of_birth|date:'d/m/Y' }} ({{racer.get_current_age}})</a></td>
                </tr>
                <tr>
                  <td>Telephone</td>
                  <td class="fs15 fw700 text-right"><a href="tel:{{ racer.telephone_number }}t">{{ racer.telephone_number }}</a></td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td class="fs15 fw700 text-right"><a href="mailto:{{ racer.username.username }}?APA Contact">{{ racer.username.username }}</a></td>
                </tr>
              </tbody>
            </table>
            <p align="center"><a href="{% url 'racers:view_user' racer.id %}" class="btn btn-round btn-danger">View Profile</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
      
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <!-- Data Tables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
